/node_modules
/vendor
/storage
npm-debug.log
.env
.env.local
.editorconfig  
.env.testing
.DS_Store
.*~
*,~
*.swp
/.env.prod
/database/seeds/.DS_Store
/.phpunit.result.cache
/.vscode
/database/seeds/.DS_Store
/.phpunit.result.cache
/.vscode
.psysh.php
/bootstrap/cache/*
.phpunit.result.cache
/public/uploads


